@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
}

.dark {
  @apply bg-gray-900 text-gray-100;
}

.light {
  @apply bg-white text-black;
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-enter {
  animation: toast-enter 0.3s ease-out;
}

.animate-leave {
  animation: toast-leave 0.3s ease-in;
}

/* For WebKit browsers (Chrome, Safari) */
.modal-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when the scrollbar thumb is hovered */
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 6px; /* Rounded corners of the scrollbar track */
}

* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}
